<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Resources.SearchGoogle</h3>
    </div>
    <div class="panel-body">
        <script>
    (function () {
        var cx = '014160653531450432018:rwm6igwsr5k';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
        </script>
        <gcse:search></gcse:search></div>
</div>