<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Resources.Ads</h3>
    </div>
    <div class="panel-body">
        <script type="text/javascript">
    sa_client = "b93c138f321bbe8fdea2322452023df8";
    sa_code = "387b2d028c347e6e8312bfa77637a281";
    sa_protocol = ("https:" == document.location.protocol) ? "https" : "http";
    sa_pline = "0";
    sa_maxads = "3";
    sa_bgcolor = "FFFFFF";
    sa_bordercolor = "3EBEF3";
    sa_superbordercolor = "3EBEF3";
    sa_linkcolor = "001EB5";
    sa_desccolor = "000000";
    sa_urlcolor = "005677";
    sa_b = "1";
    sa_format = "linkbox_160x90";
    sa_width = "220";
    sa_height = "100";
    sa_location = "0";
    sa_radius = "4";
    sa_borderwidth = "1";
    sa_font = "0";
    document.write(unescape("%3cscript type='text/javascript' src='" + sa_protocol + "://sa.entireweb.com/sense2.js'%3e%3c/script%3e"));
        </script></div>
</div>