@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@Resources.LockedOut</h1>
    <h2 class="text-danger">@Resources.LockedOutMessage</h2>
</hgroup>
