@model ToshkentGullari.Services.Product[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Json</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            <div>
                @item.BusinessCode, <strong>@item.Name</strong>, @item.Price, @item.ProductDescription
            </div>
        }

    </div>
</body>
</html>
